

/*  GO FULL WIDTH AT LESS THAN 480 PIXELS */

@media only screen and (max-width: 480px) {
    .col { margin: 1% 0 1% 0%;}
    .span_3_of_3, .span_2_of_3, .span_1_of_3 { width: 100%; }
}

.header_text {
    text-align: center;

}
.para{
    text-align: center;
    margin: auto;
    max-width: 150px;


}

#search {
    background-color:#c3dfef;

}
#tfheader{
    text-align: center;

}
#tfnewsearch{
    text-align: center;
    padding:20px;
    display: inline-block;

}
.tftextinput{
    margin: 0;
    padding: 5px 15px;
    font-family: Arial, Helvetica, sans-serif;
    font-size:14px;
    border:1px solid #0076a3; border-right:0px;
    border-top-left-radius: 5px 5px;
    border-bottom-left-radius: 5px 5px;
}
.tfbutton {
    margin: 0;
    padding: 5px 15px;
    font-family: Arial, Helvetica, sans-serif;
    font-size:14px;
    outline: none;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    color: #ffffff;
    border: solid 1px #0076a3; border-right:0px;
    background: #0095cd;
    background: -webkit-gradient(linear, left top, left bottom, from(#00adee), to(#0078a5));
    background: -moz-linear-gradient(top,  #00adee,  #0078a5);
    border-top-right-radius: 5px 5px;
    border-bottom-right-radius: 5px 5px;
}
.tfbutton:hover {
    text-decoration: none;
    background: #007ead;
    background: -webkit-gradient(linear, left top, left bottom, from(#0095cc), to(#00678e));
    background: -moz-linear-gradient(top,  #0095cc,  #00678e);
}
/* Fixes submit button height problem in Firefox */
.tfbutton::-moz-focus-inner {
    border: 0;
}
.tfclear{
    float: left;
}

.left {
    padding-bottom: 10px;
    border:solid 1px;
    width:100px;
    text-align: left;
    margin-top: 40px;

}
.right {
    padding-top: 10px;
    border:solid 1px;
    width:100px;
    text-align: left;
    margin-top: 35px;
}
.center {
    padding-top:10px;
    border:solid 1px;
    width:100px;
    text-align: left;
    margin-top: 35px;
}
.vasak {
    text-align: left;

}
.keskmine {
    text-align: center;
    float: right;
    padding: 10px;
    width: 70%;
    margin-top: 100px;

}
.tabel img {
    width: 100px;
    height: 100px;
    margin: 10px;
}
img {
}

.alumine {
    text-align: center;

    margin-right: 32%;


}
.dropdown {
    display:  inline-block;
    margin: auto;


}

header {

font-size: 36px;
    text-align: center;
    height: 130px;
    background-color: #c3dfef;
    clear: both;
}

footer {
    text-align: center;
    clear: both;
    height: 5%;
    background-color: #c3dfef;
}